[Desktop Entry]
Type=Application
Name=Swanium Crystal
Comment=WonderSwan emulator
Exec=swanium-crystal
Icon=swanium-crystal
StartupWMClass=Swanium-crystal
Categories=Game;Emulator;
Terminal=false
